body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #303440;
  line-height: 1.3;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0033ff;
  text-decoration: none;
  font-weight: 500;
}

.Hero {
  background: url('../images/hero-bg.jpg');
  height: 680px;
  background-size: cover;
  background-position: center;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 720px;
  padding: 240px 40px;
  text-align: center;
  opacity: 0;
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero h1 {
  margin: 20px auto;
  color: #102030;
  font-size: 62px;
  line-height: 1.1;
  font-weight: 900;
}

.Hero p {
  max-width: 680px;
  padding: 0 auto;
  font-size: 22px;
  color: #001020;
  line-height: 1.6;
  margin: 32px 30px 48px 30px;
}

.Hero a {
  display: inline-block; 
  /*this is because the transform css property, used below in hover state, does not work with html link <a> element. ref: https://stackoverflow.com/questions/29667859/transform-css-property-doesnt-work-with-a-element*/
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #0033ff;
  padding: 14px 60px;
  margin: 0px auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50,50,100,.1), 0 1px 3px rgba(0,0,0,.1);
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a:hover {
  box-shadow: 0 8px 10px rgba(50,50,100,.1), 0 2px 4px rgba(0,0,0,.1);
  transform: translateY(-2px);
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 220px 20px;
  }

  .Hero h1 {
    font-size: 40px;
  }

  .Hero p {
    font-size: 18px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ClientLogos {
  max-width: 840px;
  margin: 96px auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.ClientLogos img {
  opacity: 0.5;
  transition: .6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.ClientLogos img:hover {
  opacity: 1;
}

@media (max-width: 640px) {
  .ClientLogos {
    grid-template-columns: repeat(4, 1fr);
  }
}

.ProductSection {
  background: #f4f9fd;
}

.ProductSection h2 {
  margin: 120px 20px 60px;
  font-size: 54px;
  font-weight: 800;
  text-align: center;
  color: #102030;
  padding-top: 96px;
  line-height: 1.2;
}

@media (max-width: 640px) {
  .ProductSection h2 {
    font-size: 32px;
  }
}

.CardGroup {
  max-width: 1080px;
  margin: 72px auto 100px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: 840px) {
  .CardGroup {
    grid-template-columns: 1fr;
    grid-row-gap: 54px;
  }
}

.PlatformSection {
  margin: 0 auto;
  max-width: 1080px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  justify-items: center;
  padding-bottom: 120px;
}

@media (max-width: 840px) {
  .PlatformSection {
    grid-template-columns: 1fr;
  }
}

.PlatformDesc {
  max-width: 540px;
  align-self: center;
  padding: 0 20px 0 20px;
  /* text-align: center; */
}

.PlatformSection img {
  width: 100%;
  max-width: 460px;
  align-self: center;
  margin: 32px 20px 0 48px;
}

@media (max-width: 840px){
  .PlatformSection img {
    max-width: 360px;
    margin: 10px auto;
  }
}

.PlatformDesc h2 {
  font-size: 54px;
  font-weight: 800;
  line-height: 1.2;
  color: #102030;
  margin-bottom: 24px;
  margin-top: 20px;
}

@media (max-width: 640px) {
  .PlatformDesc h2 {
    /* margin-top: 32px; */
    font-size: 32px;
  }

  .PlatformDesc {
    text-align: center;
  }
}

.PlatformDesc p {
  font-size: 18px;
  color: #444444;
  line-height: 1.6;
  margin-top: 24px;
  margin-bottom: 48px;
}

.PlatformDesc a {
  display: inline-block;
  color: #0033ff;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 60px;
  border: 2px solid #0033ff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50,50,100,.1), 0 1px 3px rgba(0,0,0,.1);
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.PlatformDesc a:hover {
  box-shadow: 0 8px 10px rgba(50,50,100,.1), 0 2px 4px rgba(0,0,0,.1);
  transform: translateY(-2px);
  color: white;
  background-color: #0033ff;
}
