body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #303440;
  line-height: 1.3;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0033ff;
  text-decoration: none;
  font-weight: 500;
}

.Hero {
  background: url('../images/hero-bg.jpg');
  height: 680px;
  background-size: cover;
  background-position: center;
}

.HeroGroup {
  margin: 0 auto;
  width: 720px;
  padding: 220px 0;
  text-align: center;
}

.Hero h1 {
  margin: 20px auto;
  color: #102030;
  font-size: 64px;
  line-height: 1.1;
  font-weight: 900;
}

.Hero p {
  width: 680px;
  font-size: 22px;
  color: #001020;
  line-height: 1.6;
  margin-bottom: 54px;
  margin-top: 32px;
}

.Hero a {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #0033ff;
  padding: 14px 60px;
  margin: 40px auto;
  border-radius: 5px;
}
